.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, 5vw);
  width: 40vw;
  height: 40vw;
  margin: auto;
}

.square {
  width: 5vw;
  height: 5vw;
  overflow: auto;
  background-color:black;
}

button {
  width: 5vw;
  height: 5vw;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
}

button img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
}